<style type="text/css">

  #search {
    padding: 10px;
    box-shadow: none;
    border-bottom: 2px solid #666666;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
  }

  .phoneme {
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px;
  }

  .feature-info {
    transition: color 300ms ease-in-out;
    display: inline-block;
    margin: 2px;
  }

  .phoneme-name {
    color: #444444;
    border: 1px solid #666666;
    border-left: 3px solid #666666;
    text-align: center;
    padding: 15px 15px 20px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .feature-matched {
    color: #F97F51;
    font-weight: bold;
  }

  .btn {
    margin-top: 10px;
  }

  .feature-collection {
    text-align: left;
    padding: 10px;
    border-left: 3px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: #444444;
    height: 260px;
  }

  #results {
    height: calc(100vh - 200px);
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .option-btn {
    margin-right: 5px;
    display: inline-block;
    padding: 4px 6px 4px 6px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid #666666;
    color: #444444;
  }

  .option-btn:active {
    opacity: 0.5;
  }

  .info-header {
    margin: 0px;
    margin-top: 10px;
  }

  .active-plus {
    background-color: #58B19F;
    border: 1px solid #58B19F;
    color: white;
  }

  .active-minus {
    background-color: #FC427B;
    border: 1px solid #FC427B;
    color: white;
  }

  .active-selected {
    background-color: #2C3A47;
    border: 1px solid #2C3A47;
    color: white;
  }

</style>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3>{{title}}</h3>
    <div id="feature-options-container">
      <p class="info-header">Feature Options</p>
      <div id="feature-options">
        <div class="option-btn"
          ng-click="toggleFeature(option.shorthand)"
          ng-repeat="option in featureOptions"
          ng-class="{
            'active-plus': selectedFeatures.indexOf('+' + option.shorthand) !== -1,
            'active-minus': selectedFeatures.indexOf('-' + option.shorthand) !== -1,
          }">
          {{option.name}}
        </div>
      </div>
    </div>
    <div id="category-options-container">
      <p class="info-header">Category Options</p>
      <div id="category-options">
        <div class="option-btn" ng-click="toggleCategory(option)" ng-repeat="option in categoryOptions" ng-class="{'active-selected': selectedCategories.indexOf(option) !== -1}">
          {{option}}
        </div>
      </div>
    </div>
    <div id="display-actions">
      <p class="info-header">Display Options</p>
      <div class="btn btn-default" ng-click="showFeatures = !showFeatures">Show/Hide Features</div>
    </div>
    <div id="meta">
      <!-- <p class="info-header">Last Updated: {{meta.lastUpdate}}</p> -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h3>Results:</h3>
    <div id="results">
      <div class="phoneme col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="phoneme in filteredData = (data | filter:featureFilter | filter:categoryFilter)">
        <h3 class="phoneme-name">{{phoneme.name}}</h3>
        <div ng-show="showFeatures" class="feature-collection">
          <p class="feature-info" ng-repeat="tag in phoneme.features" ng-class="{'feature-matched': selectedFeatures.indexOf(tag) !== -1 && selectedFeatures.length > 0}">
            {{tag}}
          </p>
          <hr>
          <p class="feature-info" ng-repeat="tag in phoneme.categories" ng-class="{'feature-matched': selectedCategories.indexOf(tag) !== -1 && selectedCategories.length > 0}">
            {{tag}}
          </p>
        </div>
      </div>
      <div ng-hide="filteredData.length > 0">
        <p>No matches found.</p>
      </div>
    </div>
  </div>
</div>