<style type="text/css">

  .intro-text {
    font-size: 1.5em;
  }

  .project-link {
    font-size: 2em;
  }

</style>

<h2>{{ title }}</h2>

<p class="intro-text">Welcome to a suite of tools built for the Centre for French & Linguistics to assist students in various linguistics courses.</p>

<p>Currently available tools and experimental projects:</p>

<a class="project-link" href="#!/ipa-explorer">IPA Explorer</a>
<br>
<a class="project-link" href="#!/dictionary">Cross-Lingual Lexicon Explorer (Lenape ~ English)</a>
<br>
<a class="project-link" href="http://syntactique.com">Syntax Tree Builder</a>
<br>
<a class="project-link" href="http://cfl-interactive.herokuapp.com/">Interactive Lecture/Learning System</a>
<br>