<style type="text/css">

  .intro-text {
    font-size: 1.5em;
  }

</style>

<h2>{{ title }}</h2>

<p class="intro-text">Welcome to a suite of tools built for the Centre for French & Linguistics to assist students in various linguistics courses.</p>

<p>Currently available tools and experimental projects:</p>

<a href="#!/ipa-explorer"><h5>IPA Explorer</h5></a>
<a href="#!/dictionary"><h5>Cross-Lingual Lexicon Explorer (Lenape ~ English)</h5></a>
<a href="http://syntactique.com"><h5>Syntax Tree Builder</h5></a>
<a href="http://cfl-interactive.herokuapp.com/"><h5>Interactive Lecture/Learning System</h5></a>