<style type="text/css">

  #search {
    padding: 10px;
    border: 1px solid #666666;
    width: 100%;
    border-radius: 5px;
  }

  .phoneme {
    padding: 5px;
    border-radius: 5px;
  }

  .phoneme p {
    margin: 0 0 0;
  }

  .feature-info {
    transition: color 300ms ease-in-out;
  }

  .phoneme-name {
    color: #444444;
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .feature-matched {
    color: #e74c3c;
    /*font-weight: bold;*/
  }

  .btn {
    margin-top: 10px;
  }

</style>
<h2>{{ title }}</h2>
<hr>
<h4>Consonant Feature Explorer</h4>
<input id="search" placeholder="Enter features" type="text" ng-model="tags">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button class="btn btn-default" ng-click="showFeatures = !showFeatures">Show/Hide Features</button>
  </div>
</div>
<div class="phoneme col-md-1" ng-repeat="phoneme in data | filter:tag">
  <h3 class="phoneme-name">{{phoneme.name}}</h3>
  <p ng-show="showFeatures" class="feature-info" ng-repeat="tag in phoneme.tags" ng-class="{'feature-matched': tags.indexOf(tag) !== -1 && tags.length > 0}">
    [{{tag}}]
  </p>
</div>